{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <!-- Page Header -->
        <div class="col s12 center-align">
            <img id="page-logo" src="{{url_for('static', filename='images/gamestar_full_logo.webp')}}" alt="GameStar full logo">
            <h2 class="white-text">Page Not Found</h2>
            <p class="white-text">Return to Home page <a class="amber-text text-lighten-1 text-shadow" href="{{url_for('home')}}">Home</a></p>
        </div>
    </div>

{% endblock content %}