<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/c2fb8624a4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <title>GameStar</title>
</head>
<body>
    <header>
        <nav>
            <!-- Top Navbar -->
            <div class="nav-wrapper grey darken-3 z-depth-3">
                <a href="{{url_for('home')}}" class="brand-logo"><img id="nav-logo" src="{{url_for('static', filename='images/gamestar_logo_light.png')}}" alt="GameStar navigation logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}" class="amber-text text-lighten-1">Home</a></li>
                    <li><a href="#" class="amber-text text-lighten-1">Manage Reviews</a></li>
                    <li><a href="#" class="amber-text text-lighten-1">Profile</a></li>
                    <li><a href="{{url_for('register')}}" class="amber-text text-lighten-1">Register</a></li>
                    <li><a href="{{url_for('login')}}" class="amber-text text-lighten-1">Log In</a></li>
                    <li><a href="#" class="amber-text text-lighten-1">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <!-- Mobile Navbar -->
        <ul class="sidenav grey darken-3 z-depth-3" id="mobile-demo">
            <li><a href="{{url_for('home')}}" class="amber-text text-lighten-1">Home</a></li>
            <li><a href="#" class="amber-text text-lighten-1">Manage Reviews</a></li>
            <li><a href="#" class="amber-text text-lighten-1">Profile</a></li>
            <li><a href="{{url_for('register')}}" class="amber-text text-lighten-1">Register</a></li>
            <li><a href="{{url_for('login')}}" class="amber-text text-lighten-1">Log In</a></li>
            <li><a href="#" class="amber-text text-lighten-1">Log Out</a></li>
        </ul>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <!-- Flash Messages -->
            <section class="container">
                {% for message in messages %}
                    <div class="row flashes">
                        <div class="col s12 m6 offset-m3">
                            <p class="flash amber lighten-1 center-align">{{message}}</p>
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/materializeInit.js')}}"></script>
</body>
</html>