<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/c2fb8624a4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    {% if title %}
        <title>GameStar | {{title}}</title>
    {% else %}
        <title>GameStar</title>
    {% endif %}
</head>
<body>
    <header>
        <nav>
            <!-- Top Navbar -->
            <div class="nav-wrapper grey darken-3 z-depth-3">
                <a href="{{url_for('home')}}" class="brand-logo"><img id="nav-logo" src="{{url_for('static', filename='images/gamestar_logo_light.png')}}" alt="GameStar navigation logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}" class="amber-text text-lighten-1">Home</a></li>
                    {% if session.username %}
                        {% if session.username != 'admin' %}
                            <li><a href="{{url_for('manage')}}" class="amber-text text-lighten-1">Manage Reviews</a></li>
                        {% endif %}
                        <li><a href="{{url_for('profile')}}" class="amber-text text-lighten-1">Profile</a></li>
                        <li><a href="{{url_for('logout')}}" class="amber-text text-lighten-1">Log Out</a></li>
                        {% if session.username == 'admin' %}
                            <li>
                                <!-- Dropdown Trigger -->
                                <a class='dropdown-trigger btn red darken-2' href='#' data-target='admin-panel'>Admin</a>
                                <!-- Dropdown Structure -->
                                <ul id='admin-panel' class='dropdown-content'>
                                    <li><a href="{{url_for('user_manager')}}" class="black-text">Users</a></li>
                                    <li><a href="{{url_for('review_manager')}}" class="black-text">Reviews</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{url_for('register')}}" class="amber-text text-lighten-1">Register</a></li>
                        <li><a href="{{url_for('login')}}" class="amber-text text-lighten-1">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Mobile Navbar -->
        <ul class="sidenav grey darken-3 z-depth-3" id="mobile-demo">
            <li><a href="{{url_for('home')}}" class="amber-text text-lighten-1">Home</a></li>
            {% if session.username %}
                <li><a href="{{url_for('manage')}}" class="amber-text text-lighten-1">Manage Reviews</a></li>
                <li><a href="{{url_for('profile')}}" class="amber-text text-lighten-1">Profile</a></li>
                <li><a href="{{url_for('logout')}}" class="amber-text text-lighten-1">Log Out</a></li>
                {% if session.username == 'admin' %}
                    <li>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn red darken-2' href='#' data-target='admin-panel-mobile'>Admin</a>
                        <!-- Dropdown Structure -->
                        <ul id='admin-panel-mobile' class='dropdown-content'>
                            <li><a href="{{url_for('user_manager')}}" class="black-text">Users</a></li>
                            <li><a href="{{url_for('review_manager')}}" class="black-text">Reviews</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% else %}
                <li><a href="{{url_for('register')}}" class="amber-text text-lighten-1">Register</a></li>
                <li><a href="{{url_for('login')}}" class="amber-text text-lighten-1">Log In</a></li>
            {% endif %}
        </ul>
    </header>
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    <!--Footer -->
    <footer class="page-footer grey darken-3">
        {% if request.endpoint == 'home' %}
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">About GameStar</h5>
                        <p class="grey-text text-lighten-4">Welcome to Gamestar! We are the games website that helps you make the most of your money and time.</p>
                        <p class="grey-text text-lighten-4">On GameStar we always aim to inform and inspire through our game reviews.</p>
                        <p class="grey-text text-lighten-4">We allow our community to grow, and share their thoughts on the games they have played.</p>
                        <p class="grey-text text-lighten-4">If the game exists, you can leave a review for it.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Socials</h5>
                        <ul>
                            <li><a class="amber-text text-lighten-3" href="#!"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                            <li><a class="amber-text text-lighten-3" href="#!"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                            <li><a class="amber-text text-lighten-3" href="#!"><i class="fa-brands fa-youtube"></i> YouTube</a></li>
                            <li><a class="amber-text text-lighten-3" href="#!"><i class="fa-brands fa-discord"></i> Discord</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="footer-copyright grey darken-4">
            <div class="container">
                &copy; 2022 Gamestar, All Rights Reserved
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/materializeInit.js')}}"></script>
    <script>
        const body = document.querySelector('body');
        {% if background %}
            body.style.backgroundImage = `url({{background.url}})`;
        {% else %}
            body.style.backgroundImage = `url({{url_for('static', filename='images/carl-raw-m3hn2Kn5Bns-unsplash.jpg')}})`;
        {% endif %}
        body.style.backgroundPosition = 'top';
        body.style.backgroundSize = 'cover';
        body.style.backgroundRepeat = 'no-repeat';
        body.style.backgroundBlendMode = 'overlay';
    </script>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script> M.toast({html: '{{message}}', classes: '{{category}}'})</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>