{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12 center-align">
            <img id="page-logo" src="{{url_for('static', filename='images/gamestar_full_logo.png')}}" alt="GameStar full logo">
            <p id="page-caption" class="white-text">The one stop site to view and create video game reviews</p>
        </div>
    </div>
    <div class="row">
        <div class="card-container col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1wyy.jpg">
                </div>
                <div class="card-content">
                    <p class="card-title bold-text center-align">The Witcher 3: Wild Hunt</p>
                    <div class="rating center-align">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="card-action grey darken-4">
                    <i class="fa-solid fa-align-left amber-text text-lighten-1"></i>
                    <a href="#">Reviews</a>
                </div>
            </div>
        </div>
        <div class="card-container col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1wyy.jpg">
                </div>
                <div class="card-content">
                    <p class="card-title bold-text center-align">The Witcher 3: Wild Hunt</p>
                    <div class="rating center-align">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="card-action grey darken-4">
                    <i class="fa-solid fa-align-left amber-text text-lighten-1"></i>
                    <a href="#">Reviews</a>
                </div>
            </div>
        </div>
        <div class="card-container col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1wyy.jpg">
                </div>
                <div class="card-content">
                    <p class="card-title bold-text center-align">The Witcher 3: Wild Hunt</p>
                    <div class="rating center-align">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="card-action grey darken-4">
                    <i class="fa-solid fa-align-left amber-text text-lighten-1"></i>
                    <a href="#">Reviews</a>
                </div>
            </div>
        </div>
        <div class="card-container col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1wyy.jpg">
                </div>
                <div class="card-content">
                    <p class="card-title bold-text center-align">The Witcher 3: Wild Hunt</p>
                    <div class="rating center-align">
                        <!-- Template Ratings -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="card-action grey darken-4">
                    <i class="fa-solid fa-align-left amber-text text-lighten-1"></i>
                    <a href="#">Reviews</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}