{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <!-- Page Header -->
        <div class="col s12 center-align white-text">
            <h1>Manage Reviews</h1>
        </div>
    </div>
    {% if not user_reviews %}
        <div class="row">
            <!-- User Prompt -->
            <div class="col s12 center-align white-text">
                <p>You have not created any reviews yet.</p>
                <p>Would you like to create one? <a href="{{url_for('search')}}" class="amber-text lighten-1">Add Review</a></p>
            </div>
        </div>
    {% else %}
    <div class="row">
        <!-- Add Review Button -->
        <div class="col s12 right-align">
            <a href="{{url_for('search')}}" class="btn-small amber black-text waves-effect waves-light">Add Review</a>
        </div>
    </div>
        <div class="row">
            <!-- Users Reviews -->
            <div class="col s12 white-text">
                {% for user_review in user_reviews %}
                    <!-- Modal Trigger -->
                    <a href="#modal{{user_review.review.id}}" class="modal-trigger">
                        <div class="card-container col s12 m6 l4 xl3">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <!-- Game Cover Art -->
                                    <img src="{{user_review.game.cover_art}}">
                                </div>
                                <div class="card-content grey darken-3">
                                    <!-- Game Name -->
                                    <p class="card-title bold-text center-align white-text text-shadow truncate"
                                        title="{{user_review.game.name}}">{{user_review.game.name}}</p>
                                    <!-- Review Rating -->
                                    <div class="rating">
                                        <div class="rating-outer text-shadow center-align">
                                            <div class="rating-inner text-shadow center-align" style="width: {{user_review.review.rating * (100 / 5)}}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- Modal Structure -->
                    <div id="modal{{user_review.review.id}}" class="modal modal-fixed-footer grey darken-4 amber-text lighten-1">
                        <div class="modal-content">
                            <!-- Modal Close Button-->
                            <a href="#" class="modal-close modal-close-top"><i class="fa-solid fa-xmark amber-text text-lighten-1"></i></a>
                            <!-- Game Name -->
                            <h5>{{user_review.game.name}}</h5>
                            <br>
                            <!-- Review Heading -->
                            <h6>Heading:</h6>
                            <p class="white-text wrap-break-word">{{user_review.review.heading}}</p>
                            <br>
                            <!-- Review Liked Text -->
                            <h6>What You Liked:</h6>
                            <p class="white-text wrap-break-word review-text">{{user_review.review.liked_text}}</p>
                            <br>
                            <!-- Review Disliked Text -->
                            <h6>What You Didn't Like:</h6>
                            <p class="white-text wrap-break-word review-text">{{user_review.review.disliked_text}}</p>
                            <br>
                            <!-- Review Rating -->
                            <h6>Your Rating:</h6>
                            <p class="white-text wrap-break-word">{{user_review.review.rating}} stars out of 5</p>
                            <br>
                            <!-- Review Hours -->
                            <h6>Hours You Played:</h6>
                            <p class="white-text wrap-break-word">{{user_review.review.hours}} Hours</p>
                        </div>
                        <!-- Review Edit / Delete Buttons -->
                        <div class="modal-footer grey darken-3">
                            <a href="{{url_for('edit_review', review_id=user_review.review.id)}}" class="btn text-shadow">Edit</a>
                            <!-- Modal Confirm Delete Trigger -->
                            <a href="#confirm-{{user_review.review.id}}" class="btn red darken-2 text-shadow modal-trigger">Delete</a>
                        </div>
                    </div>
                    <!-- Modal Confirm Delete Structure -->
                    <div id="confirm-{{user_review.review.id}}" class="modal center-align">
                        <div class="modal-content grey darken-3 white-text">
                            <!-- Modal Close Button-->
                            <a href="#" class="modal-close modal-close-top"><i class="fa-solid fa-xmark amber-text text-lighten-1"></i></a>
                            <h4 class="red-text text-shadow">Are You Sure?</h4>
                            <h4 class="red-text text-shadow">WARNING!</h4>
                            <h5 class="white-text text-shadow">This Action Is Not Reversible</h5>
                        </div>
                    <div class="modal-footer grey darken-1">
                            <a href="#" class="modal-close waves-effect waves-light btn">No</a>
                            <a href="{{url_for('delete_review', review_id=user_review.review.id)}}" class="waves-effect waves-effect waves-light red darken-2 btn">Yes</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}