{% extends 'base.html' %}
{% block content %}
    <div class="row" id="profile-dialog">
        <div class="col s12 m6 offset-m3 center-align grey darken-3 white-text">
            <h3 class="text-shadow">Welcome {{user|capitalize}}</h3>
            <p class="text-shadow">Change your password</p>
            <form id="profile-form" method="POST" action="{{url_for('profile')}}">
                <div class="row">
                    <!-- Current Password -->
                    <div class="input-field col s12 amber-text text-lighten-1">
                        <i class="fa-solid fa-key prefix"></i>
                        <input id="current" name="current" type="password" class="white-text validate" required>
                        <label for="current">Current Password</label>
                    </div>
                    <!-- New Password -->
                    <div class="input-field col s12 amber-text text-lighten-1">
                        <i class="fa-solid fa-lock prefix"></i>
                        <input id="password" name="password" type="password" class="white-text validate" minlength="8" title="Passwords must be at least 8 characters long." required>
                        <label for="password">Password</label>
                    </div>
                    <!-- Confirm New Password -->
                    <div class="input-field col s12 amber-text text-lighten-1">
                        <i class="fa-solid fa-lock prefix"></i>
                        <input id="confirm_password" name="confirm_password" type="password" class="white-text validate" minlength="8" title="Must match Password exactly." required>
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light amber lighten-1 black-text" type="submit">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if session.username != 'admin' %}
        <div class="row">
            <div id="delete-profile" class="col s12 m6 offset-m3 center-align grey darken-2 white-text">
                <h5 class="red-text text-shadow">Delete User Profile</h5>
                <a href="#confirm-{{user}}" class="btn-small red darken-2 waves-effect waves-light modal-trigger"><i class="fa-solid fa-user-xmark"></i></a>
            </div>
        </div>
        <div id="confirm-{{user}}" class="modal center-align">
            <div class="modal-content grey darken-3 white-text">
                <h4 class="red-text text-shadow">Are You Sure?</h4>
                <p class="white-text text-shadow">Deleting your profile will remove all user data including any reviews that you have created.</p>
                <p>This will also allow another user to register as {{user|capitalize}}</p>
                <p>Want to Edit or Delete a review instead? <a href="{{url_for('manage')}}" class="amber-text text-lighten-1">Manage Reviews</a></p>
                <h3 class="red-text text-shadow">WARNING!</h3>
                <h5 class="white-text text-shadow">This Action Is Not Reversible</h5>
            </div>
        <div class="modal-footer grey darken-1">
            <form action="{{url_for('delete_user')}}" method="POST">
                <input type="text" name="username" id="username" value="{{user}}" class="hide">
                <a href="#" class="modal-close waves-effect waves-light btn">No</a>
                <button type="submit" class="waves-effect waves-effect waves-light red darken-2 btn">Yes</button>
            </form>
            </div>
        </div>
    {% endif %}
    <script defer src="{{url_for('static', filename='js/inputValidation.js')}}"></script>
{% endblock content %}