{% extends 'base.html' %}
{% block content %}
<div class="row white-text center-align">
    <div class="col s12">
        <h1>Reviews By {{user.username|capitalize}}</h1>
        {% if not reviews %}
            <p class="amber-text text-lighten-1">No reviews found written by {{user.username|capitalize}}!</p>
        {% endif %}
    </div>
</div>
{% if reviews %}
    <div class="row white-text">
        <div class="col s12">
            <ul class="collection">
                {% for review in reviews %}
                    <li class="collection-item avatar grey darken-3">
                        <img src="{{review.game.cover_art}}" alt="" class="circle">
                        <p class="title amber-text text-lighten-1">Game:
                            <span class="white-text">{{review.game.name|capitalize}}</span>
                        </p>
                        <p class="amber-text text-lighten-1">Heading:
                            <span class="white-text">{{review.heading|capitalize}}</span>
                        </p>
                        <p class="amber-text text-lighten-1">Rating:
                            <span class="rating-small">
                                <span class="rating-outer">
                                    <span class="rating-inner" style="width: {{review.rating * (100 / 5)}}%">
                                    </span>
                                </span>
                            </span>
                        </p>
                        <a href="#modal-{{review.id}}" class="btn secondary-content amber black-text modal-trigger">View</a>

                        <!-- Modal Structure -->
                        <div id="modal-{{review.id}}" class="modal modal-fixed-footer grey darken-4 amber-text lighten-1">
                            <div class="modal-content">
                                <h5>{{review.game.name}}</h5>
                                <br>
                                <h6>Heading:</h6>
                                <p class="white-text">{{review.heading}}</p>
                                <br>
                                <h6>What {{user.username|capitalize}} Liked:</h6>
                                <p class="white-text review-text">{{review.liked_text}}</p>
                                <br>
                                <h6>What {{user.username|capitalize}} Didn't Like:</h6>
                                <p class="white-text review-text">{{review.disliked_text}}</p>
                                <br>
                                <h6>{{user.username|capitalize}}'s Rating:</h6>
                                <p class="white-text">{{review.rating}} stars out of 5</p>
                                <br>
                                <h6>Hours {{user.username|capitalize}} Played:</h6>
                                <p class="white-text">{{review.hours}} Hours</p>
                            </div>
                            {% if session.username == 'admin' %}
                                <div class="modal-footer grey darken-3">
                                    <a href="#" class="btn-flat like-btn white-text text-shadow" data-review-id="{{review.id}}"
                                        style="cursor: not-allowed;" title="You can only like reviews from the main review page">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <span class="likes-number">{{review.likes|length}}</span>
                                    </a>
                                    <a href="{{url_for('edit_review', review_id=review.id)}}" class="btn text-shadow">Edit</a>
                                    <a href="#confirm-{{review.id}}" class="btn red darken-2 text-shadow modal-trigger">Delete</a>
                                </div>
                            {% else %}
                                <div class="modal-footer grey darken-3">
                                    <a href="#" class="btn-flat like-btn white-text text-shadow" data-review-id="{{review.id}}"
                                        style="cursor: not-allowed;" title="You can only like reviews from the main review page">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <span class="likes-number">{{review.likes|length}}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% if session.username == 'admin' %}
                        <!-- Modal Structure -->
                            <div id="confirm-{{review.id}}" class="modal center-align">
                                <div class="modal-content grey darken-3 white-text">
                                    <h4 class="red-text text-shadow">Are You Sure?</h4>
                                    <h3 class="red-text text-shadow">WARNING!</h3>
                                    <h5 class="white-text text-shadow">This Action Is Not Reversible</h5>
                                </div>
                                <div class="modal-footer grey darken-1">
                                    <a href="#" class="modal-close waves-effect waves-light btn">No</a>
                                    <a href="{{url_for('delete_review', review_id=review.id)}}"
                                        class="waves-effect waves-effect waves-light red darken-2 btn">Yes</a>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endblock content %}