<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/c2fb8624a4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <title>GameStar</title>
</head>
<body>
    <header>
        <nav>
            <!-- Top Navbar -->
            <div class="nav-wrapper light-blue darken-4 z-depth-3">
                <a href="#!" class="brand-logo text-shadow">GameStar</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down text-shadow">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Manage Reviews</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </nav>

        <!-- Mobile Navbar -->
        <ul class="sidenav light-blue darken-4 z-depth-3 white-text text-shadow" id="mobile-demo">
            <li><a href="#">Home</a></li>
            <li><a href="#">Manage Reviews</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </header>
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>